{"ns_init_site": "http://example.com:8080/init/comms", "ns_init_site_p": "http://example.com:8080/init/comms/post", "ns_fof_site": "http://example.com:8080/fof/commands", "ns_post_site": "http://example.com:8080/command/output", "ns_get_ua": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36 Edg/88.0.705.68", "ns_post_ua": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36 Edg/88.0.705.68"}
